* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: sans-serif;
   font-size: 14px;
   text-decoration: none;
}

body {
   width: 100%;
   min-height: 100vh;
   background-color: rgb(243, 243, 243);
   /*display: flex;*/
   /*justify-content: center;*/
}

.instagram-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 935px;
   width: 60%;
   height: 85vh;
   margin: 0 auto;
}

.instagram-phone {
   display: flex;
   align-items: center;
   justify-content: center;
}

.phone-bg {
   width: 454px;
   height: 618px;
}

.phone-screen-bg {
   position: absolute;
   margin-top: 4.4px;
   margin-left: 43.5px;
}

/** ANIMATION **/

@-webkit-keyframes imgFade {
   0% {
     opacity:1;
   }
   17% {
     opacity:1;
   }
   25% {
     opacity:0;
   }
   92% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
}

@-moz-keyframes imgFade {
   0% {
     opacity:1;
   }
   17% {
     opacity:1;
   }
   25% {
     opacity:0;
   }
   92% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
}

@-o-keyframes imgFade {
   0% {
     opacity:1;
   }
   17% {
     opacity:1;
   }
   25% {
     opacity:0;
   }
   92% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
}

@keyframes imgFade {
   0% {
     opacity:1;
   }
   17% {
     opacity:1;
   }
   25% {
     opacity:0;
   }
   92% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
}

.phone-screen {
   position: absolute;
   margin-top: 4.4px;
   margin-left: 43.5px;

   -webkit-animation-name: imgFade;
   -webkit-animation-timing-function: ease-in-out;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-duration: 8s;

   -moz-animation-name: imgFade;
   -moz-animation-timing-function: ease-in-out;
   -moz-animation-iteration-count: infinite;
   -moz-animation-duration: 8s;

   -o-animation-name: imgFade;
   -o-animation-timing-function: ease-in-out;
   -o-animation-iteration-count: infinite;
   -o-animation-duration: 8s;

   animation-name: imgFade;
   animation-timing-function: ease-in-out;
   animation-iteration-count: infinite;
   animation-duration: 8s;
}

.phone-screen:nth-of-type(1) {
   -webkit-animation-delay: 6s;
   -moz-animation-delay: 6s;
   -o-animation-delay: 6s;
   animation-delay: 6s;
}
.phone-screen:nth-of-type(2) {
   -webkit-animation-delay: 4s;
   -moz-animation-delay: 4s;
   -o-animation-delay: 4s;
   animation-delay: 4s;
}
.phone-screen:nth-of-type(3) {
   -webkit-animation-delay: 2s;
   -moz-animation-delay: 2s;
   -o-animation-delay: 2s;
   animation-delay: 2s;
}
.phone-screen:nth-of-type(4) {
   -webkit-animation-delay: 0;
   -moz-animation-delay: 0;
   -o-animation-delay: 0;
   animation-delay: 0;
}

/** END ANIMATION **/

.instagram-continue {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   width: 37%;
   min-height: 34rem;
   min-width: 350px;
}

.group {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
   background-color: #ffffff;
   width: 100%;
   padding: 1.3rem 0;
   border: 1px solid lightgray;
}

.group:nth-child(1) {
   min-height: 19rem;
}

.instagram-logo {
   height: 3rem;
}

.profile-photo {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   overflow: hidden;
}

.profile-photo img {
   height: 6rem;
}

.instagram-login {
   background-color: #0095f6;
   color: #ffffff;
   padding: 8px;
   border-radius: 4px;
}

.instagram-logout {
   color: #0095f6;
   margin-top: 1rem;
}

.not-account {
   color: rgb(160, 160, 160);
   margin: 1.3rem 0 0.5rem 0;
}

.link-blue {
   color: #0095f6;
}

.store {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   padding: 1.3rem 0;
}

.download {
   display: flex;
   width: 100%;
   justify-content: space-evenly;
   align-items: center;
   padding: 1rem;
}

.app-download {
   height: 3rem;
   width: 10rem;
   background-size: cover;
}

.app-download:nth-child(1) {
   background-image: url('../images/applestore.png');
}

.app-download:nth-child(2) {
   background-image: url('../images/playstore.png');
}

footer {
   display: flex;
   justify-content: center;
   align-items: center;
}

footer a {
   color: rgb(131, 129, 129);
   font-size: 12px;
}

.footer-wrapper {
   max-width: 935px;
}

.footer-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: 0 10px;
}

.footer-list div {
   margin: 3px 7px;
}

.license {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
}

.license p {
   color: rgb(131, 129, 129);
   font-size: 12px;
   margin: 0 10px;
}

/* media queries */

@media (max-width: 1024px) {
   .instagram-wrapper {
      width: 90%;
   }
}

@media (max-width: 650px) {
   .instagram-wrapper {
      width: 90%;
   }

   .instagram-phone {
      display: none;
   }

   .instagram-continue {
      width: 100%;
   }

   body {
      background-color: #ffffff;
   }

   .group {
      border: 1px solid transparent;
   }
}