body {
   background: #fafafa;
}

.background {
   position: absolute;
   bottom: 0;
   background-image: url(../img/background.png);
   background-repeat: repeat-x;
   animation: sliderright 600s infinite linear;
   width: 100%;
   height: 200px;
}

.pressPlay {
   background-image: url(../img/start.png);
   background-repeat: no-repeat;
   background-size: contain;
   position: absolute;
   left: 20%;
   height: 200px;
   width: 500px;
}

.dino {
   width: 60px;
   height: 60px;
   background-image: url(../img/dino.png);
   position: absolute;
   bottom: 0px;
}

.cactus {
   position: absolute;
   width: 60px;
   height: 60px;
   bottom: 0px;
   background-image: url(../img/cactus.png);
}

.game-over {
   text-align: center;
   color: #666666;
   margin-top: 50px;
   font-family: arial;
}

@keyframes slideright {
   from {
      background-position: 70000%;
   }
   to {
      background-position: 0;
   }
}